      <!-- Page Footer -->
      <footer class="footer">
        <div class="container">
            <div class="row mb-2" class="footer-google-inc">© 2020-2025 DreamDev</div>
            <div class="row mb-3">
              <!-- <small>
                <b>Cluster: </b>{{ cluster_name }}, <b>Pod: </b>{{ pod_name }}<b>, Zone: </b>{{ pod_zone }}
              </small> -->
            </div>
            <div class="row mb-3">
              <small>
                This website showcases a revamped version of the Bank of Anthos, intended solely for educational purposes and demonstrations.
              </small>
            </div>
        </div>
      </footer>
